<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      sizes="76x76"
      type="image/x-icon"
      href="/images/airbnb_favico.ico"
    />
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
<!-- DATERANGEPICKER CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link href="/css/reserve.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

    <title>Airbnb: Vacation Rentals, Cabins, Beach Houses, Unique Homes</title>
  </head>
  <body>

 <header>

<div class="container-fluid ">
        <div class="navbar navbar-expand-lg navbar-light bg-white d-flex flex-row justify-content-between">
                <a class="navbar-brand" href="/"><div class="logo"></div> </a>
            

            <div class="nav-right">
            <a href="#" style="color: black; display: block"><span class="become-host">Become a Host</span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="black" class="bi bi-globe" viewBox="0 0 16 16">
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
              </svg>
        
            <div class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex flex-row justify-content-between align-items-center" id="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>    
                    </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- USER NAME APPEARS HERE -->
                {{#if loggedIn}}
<li><a class="dropdown-item" href="#">Hello, <span style="font-weight: 600;">{{userFname.name.fname}}</span></a></li>
       <li><a class="dropdown-item" href="/reserve/{{bookingRoom._id}}/logout" role="button" aria-hidden="true"
    >Log Out</a></li>
                {{else}}
                  <li>
                       <a href="#registration-modal" role="button" class="dropdown-item" data-bs-toggle="modal"
      data-bs-target="#registration-modal"
    >
      Sign up
    </a>
                      </li>
                      <!-- LOGOUT BUTTON APPEARS HERE -->
                  <li><a href="#login-modal" role="button" class="dropdown-item" data-bs-toggle="modal"
      data-bs-target="#login-modal" tabindex="-1"
      aria-labelledby="login-modal"
      aria-hidden="true"
    >Log in</a></li>
    {{/if}}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Host your home</a></li>
                  <li><a class="dropdown-item" href="#">Host an experience</a></li>
                  <li><a class="dropdown-item" href="#">Help</a></li>
                </ul>
              </div>
            </div>
        </div>
    </header>

    {{>registration}}
    {{>log-in}}
    
<main>
<div class="container my-3 mx-auto" style="max-width: 1240px;">
  <h3 style="font-weight: 400;">{{bookingRoom.title}}</h3>
  <div class="sub-info d-flex justify-content-between">
    <div id="rate">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff385c" class="bi bi-star-fill" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg>
    <span class="rate"><strong>4.71</strong></span><span class="review"> <small>(9 review)</span><span> · in {{bookingRoom.location}}</small></span>
    </div>
    <div id="right-menu">
      <a href="#" style="color:black;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
        </svg>
        Share</a>
      <a href="#" style="color:black;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
        Save</a>
    </div>
  </div>

  <div id="photo-frame" class="container mx-0 my-4 p-0" >
    <div class="row">
      <div id="left-large" class="col-6 px-1">
        <img class="shadow" src="{{bookingRoom.photos.filePath}}" alt="room main image">
      </div>
      <div id="right-small" class="col-6 container m-0 pe-0">
        <div class="row pb-2">
          <div class="col px-1">
            <img src="https://a0.muscache.com/im/pictures/aca4bf46-2df4-48ea-acc7-4821b296f677.jpg?im_w=480" alt="romm small image 1">
          </div>
          <div class="col px-1 right-top">
            <img src="https://a0.muscache.com/im/pictures/5e55d138-2c23-44c1-bc1c-b0e2c81682dc.jpg?im_w=480" alt="romm small image 2">
          </div>
        </div>
        <div class="row">
          <div class="col px-1">
            <img class="shadow" src="https://a0.muscache.com/im/pictures/c5f3a308-ee75-4577-8fcc-9eb56fad8cf7.jpg?im_w=480" alt="romm small image 3">
          </div>
          <div class="col px-1 right-bottom" >
            <img class="shadow" src="https://a0.muscache.com/im/pictures/f21acb65-04c5-475b-9394-84e09bbacf9b.jpg?im_w=480" alt="romm small image 4">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-8 mx-0">
    <div class="row">
      <div class="col-7 ps-0 pe-3">
            <div class="d-flex justify-content-between mr-4">
              <div id="sub-title" class="container p-0">
                <h4>Entire residential home hosted by George</h2>
                <p>4 guests · 2 bedroom · 2 bed · 1.5 baths</p>
              </div>
              <div id="profile" class="align-self-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
              </div>
            </div>

            <hr>

<div class="row">
            <div id="aux-info" class="col-1 d-flex-column justify-content-around">
      <svg class="d-block mb-5" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
      <svg class="d-block mb-5" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
      </svg>
      <svg class="d-block mb-5" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
      </svg>
      <svg class="mb-5" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
    </div>
  
    <div class="col-11">
      <div class="row">
        <h5>Entire home</h5>
        <p>You’ll have the house to yourself.</p>
      </div>
      <div class="row">
        <h5>Enhanced Clean</h5>
        <p>This host committed to Airbnb's 5-step enhanced cleaning process. </p>
      </div>
      <div class="row">
        <h5>Self check-in</h5>
        <p>Check yourself in with the lockbox.</p>
      </div>
      <div class="row">
        <h5>Great location</h5>
        <p>91% of recent guests gave the location a 5-star rating</p>
      </div>

    </div>   {{!-- AUTO INFO CONTAINER --}}

    <hr>
        <p>{{bookingRoom.description}}</p>
</div>

      </div>  {{!-- LEFT SIDE CONTAINER --}}

{{#if bookingConfirmed}}
  {{>reserved}}
{{else}}
  {{>book}}
{{/if}}

            <div id="report" class="mt-4 w-100 text-center" >
                <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dimgray" class="bi bi-flag-fill" viewBox="0 0 16 16">
  <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
</svg>
              <a href="#">
<span>Report this listing</span></a>
            </div>
      </div>  {{!-- RIGHT SIDE CONTAINER --}}
    </div>  {{!-- ROW CONTAINER --}}
  </div>  {{!-- GRID CONTAINER --}}    

  </div>  {{!-- GRID CONTAINER --}}
</div>  {{!-- ALL CONTAINER --}}
</main>

    
{{>footer}}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<!-- MOMENT, DATEPICKER, POPPER JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>

$(function() {
  $('.pickers').daterangepicker({
    opens: 'center',
    autoApply: true,
    autoUpdateInput: false
  }, function(start, end, label) {
      
      $('.start-date').val(start.format('MMM-DD'));
      $('.end-date').val(end.format('MMM-DD'));
  });
});
</script>
  </body>
</html>